<html>
    <head>
        <title>Workbench</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> 
        <style>
        	body {
        		margin-top: 30px
        	}
        </style>
    </head>
    <body>
        <div class="row">
        	<div class="col-md-6 col-md-offset-3">
		        <b>Name server:</b> http://{{ ns_host }}:{{ ns_port }}<br/>
        		<table id="swarm_table" class="table table-hover">
		        	<tr>
		        		<th>Name</th>
		        		<th>Id</th>
		        	</tr>
		        </table>
		        <h3 id="current_robot">N/A</h3>
		        <button id="takeoff" type="button" class="btn btn-primary btn-lg btn-block">Take off</button>
				<button id="land" type="button" class="btn btn-default btn-lg btn-block">Land</button>			
			</div>
	    </div>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
        	ns_url = "http://{{ ns_host }}:{{ ns_port }}";
        	interval_delay = 500; // ms
            $(function() {
            	setInterval(function() {
            		$.ajax({
            			url: ns_url + "/alive",
            			crossDomain: true,
            			dataType: 'json',
            			success: update_table_from_json
	            	});
            	}, interval_delay);

            	$("#takeoff").on("click", function() {
	            	$.post("/takeoff/" + $("#current_robot").html());
	            });
	            $("#land").on("click", function() {
	            	$.post("/land/" + $("#current_robot").html());
	            }); 
            })

            function update_table_from_json(data) {
            	$("#swarm_table").html("<tr><th>Name</th><th>Id</th></tr>");
				for (var i = 0; i < data.length; i++) {
					var name = data[i]["name"];
        			$("#swarm_table").append(
        				"<tr id=" + data[i]["name"] + "><td>" + data[i]["name"] + "</td>" +
        				"<td>" + data[i]["id"] + "</td></tr>"
        			);
        			$("#" + data[i]["name"]).on("click", function() {
        				$("#current_robot").html(name);
        			});
        		}
	    	}

        </script>
    </body>
</html>
